<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sqlaudit.TarsSqlLevelReqRecMapper">

    <insert id="insertOnDupUpdate" parameterType="entity.TarsSqlLevelReqRecEntity">
        INSERT INTO
        tars_sql_level_req_rec
        (`request_date`, `cluster`,`tenant_name`,`db_name`,`sql_id`,`obregion_group`,`tenant_group`,`pure_dbname`,`sql_hash`,`version`,`level`,`sql_mode`)
        VALUES
        (#{requestDate}, #{cluster},#{tenantName},#{dbName},#{sqlId},#{obregionGroup},#{tenantGroup},#{pureDbname},#{sqlHash},#{version},#{level},#{sqlMode})
        ON DUPLICATE KEY UPDATE
        `level`=values(`level`),
        `version`=values(`version`)
    </insert>


    <select id="selectListWithoutInsert" resultType="entity.TarsSqlLevelReqRecEntity">
        select a.*, b.sql_mode
        from tars_sql_level_req_rec a
        left join ob_topsql_text b on a.cluster=b.cluster and a.tenant_name=b.tenant_name and a.sql_id=b.sql_id
        where a.request_date = #{date}
        and b.sql_mode not like '%insert%'
        and b.sql_mode not like '%replace%'
    </select>

</mapper>
